/canvas/nbproject/private/
/MedievalWar/nbproject/private/
/canvasgames/nbproject/private/
/melissa/nbproject/private/
/FledWar/FledWar/nbproject/private/
/FledWar/FledWar/build/
/FledWar/MessageQueue/nbproject/private/
/FledWar/FledWar/dist/
/ProjectTracker/.settings/
/FledWar/FledMQ/nbproject/private/
/FledWar/FledCommons/nbproject/private/
/FledWar/FledCommons/build/
/FledWar/FledMQ/build/
/FledWar/FledMQ/dist/
/FledWar/FledCommons/dist/
/FledWar/FledRest/nbproject/private/
/FledWar/FledRest/dist/
/FledWar/FledRest/build/
/FledWar/FledRestful/nbproject/private/
/FledWar/FledRestful/build/
/FledWar/FledRestful/dist/
/FledWar/FledWarModels/nbproject/private/
/FledWar/FledWarModels/build/
/FledWar/FledWarModels/dist/
/BouncingBalls/BouncingBalls/nbproject/private/
/BouncingBalls/BouncingBalls/build/
/BouncingBalls/BouncingBalls/dist/
/FrootWars/nbproject/
/FrootWars/build/
/FrootWars/dist/
/LastColony/nbproject/
/LastColony/build/
/LastColony/dist/