
mongo = [
    hosts : ["localhost:27017"],
];

MONGO_DATABASE = "unit_test_db";

scriptroot = System.getProperty("user.dir") + "/../GroovyScripts/src/scriptroot/";
hostname = "localhost:8080";


dao_registry = [
	[
		database    : MONGO_DATABASE,
		collection  : "galaxy_scope",
		clazz       : com.fledwar.dao.GalaxyScopeDAO,
	],
	[
		database    : MONGO_DATABASE,
		collection  : "galaxy_point",
		clazz       : com.fledwar.dao.GalaxyPointDAO,
	],
	[
		database    : MONGO_DATABASE,
		collection  : "galaxy_unit",
		clazz       : com.fledwar.dao.GalaxyUnitDAO,
	],
	[
		database    : MONGO_DATABASE,
		collection  : "galaxy_unit_micro",
		clazz       : com.fledwar.dao.GalaxyMicroUnitDAO,
	],
	[
		database    : MONGO_DATABASE,
		collection  : "galaxy_unit_action",
		clazz       : com.fledwar.dao.GalaxyUnitActionDAO,
	],
	[
		database    : MONGO_DATABASE,
		collection  : "game_user",
		clazz       : com.fledwar.dao.GameUserDAO,
	],
];

engine = [
	
	start_scripts : [
		"mgt/fledwar_init.groovy"
	],
	
	start_master_scripts : [
		"mgt/start_master.groovy"
	],
  
	shutdown_scripts : [
    
	],

  connection : [
    session_timeout : 30 * 60 * 1000,
    validate_threashold : 10000
  ],
  
  simulation : [
    pool_size : 4,
    
    balancer : com.fledwar.blackbox.balancer.DefaultGalaxyScopeBalancer,
    
    features : [
      galaxy_point : [
        feature_type        : "galaxy_point",
        feature_drop_format : "galaxy_point-%s",
        
        clazz : com.fledwar.blackbox.scope.BaseGroovyFeature,
        update_script : "feature/point/update.groovy",
        message_script: "feature/point/message.groovy",
        delay_init    : 50,
        delay         : 2000,
        
        time_scale : 1,
        time_delay : 100,
      ],
      galaxy_unit : [
        feature_type        : "galaxy_unit",
        feature_drop_format : "galaxy_unit-%s",
        
        clazz : com.fledwar.blackbox.scope.BaseGroovyFeature,
        update_script : "feature/unit/update.groovy",
        message_script: "feature/unit/message.groovy",
        delay_init    : 50,
        delay         : 2000,
        
        // update level configuration
        time_scale  : 1,
        time_delay  : 100,
      ]
    ],
  ],
  
];
