
dao_registry = [
  [
    database    : "test_db",
    collection  : "galaxy_point",
    clazz       : com.fledwar.dao.GalaxyPointDAO
  ],
  [
    database    : "test_db",
    collection  : "galaxy_scope",
    clazz       : com.fledwar.dao.GalaxyScopeDAO
  ],
  [
    database    : "test_db",
    collection  : "system_user",
    clazz       : com.fledwar.dao.GameUserDAO
  ]
];
