*
{
    border:0px;
    margin:0px;
}

.clear
{
    clear: both;
}

.main_width_center
{
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

.full_width
{
    width: 100%;
}

#_headercontainer
{
    margin:0px auto 1px auto;
    padding:0px 0px 2px 0px;
}

#_hc_upper
{
    margin:0px auto 2px auto;
    height:131px;
}

#_hc_upper a
{
    display:inline-block;
    width:100%;
    text-align:center;
    text-decoration:none;
    font-size: 40px;
    padding: 42px 0px 42px 0px;
}

#_hc_menu
{
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

#_hc_menu ul
{
    display:inline;
    list-style-type:none;
}

#_hc_menu li
{
    display:inline;
    float:left;
    text-align:center;
}

#_hc_menu a
{
    text-decoration:none;
    padding:0px 40px 0px 40px;
}

#_hc_menu a:hover
{
    padding:0px 40px 0px 40px;
    border-width:thin;
    border-bottom-style:solid;
    border-top-style:solid;
}

#_pagecontent
{
    margin: 2px 2px 2px 2px;
    min-height:300px;
    overflow:auto;
    width:99%;
}

#_footercontent
{
    margin:2px auto 2px auto;
    text-indent:15px;
}

#text
{
    text-align:center;
}

.width_150
{
    width: 150px;
}

.width_100
{
    width: 100px;
}

.width_50
{
    width: 50px;
}

a.a_link
{
    text-decoration:none;
}

a.a_link:hover
{
    border-width:thin;
    border-bottom-style:solid;
    border-top-style:solid;
}

.bn_fieldset
{
    margin: 5px 7px;
    padding: 3px;
    border:2px solid #3C769D;
    min-height: 50px;
    float: none;
}
