/ByteCompiler/build/
/Environment/build/
/ByteCompiler/nbproject/private/
/ByteExecutor/nbproject/private/
/ByteLanguage/nbproject/private/
/Environment/nbproject/private/
/FledScript/nbproject/private/